[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "hugo-theme-nightfall"]
	path = hugo-theme-nightfall
	url = https://github.com/lordmathis/hugo-theme-nightfall
[submodule "themes/nightfall"]
	path = themes/nightfall
	url = https://github.com/lordmathis/hugo-theme-nightfall
